* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.navigation-container {
  position: sticky;
  z-index: 100;
  top: 0;
  background: rgba(187, 202, 231, 0.281);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(172, 167, 167, 0.08);
}
nav {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
  font-size: 18px;
}
nav ul li a:hover {
  color: #2563eb;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
.common-btn {
  background-color: #1d4ed8;
  font-size: 16px;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  cursor: pointer;
}
.common-btn:hover {
  background-color: #2563eb;
  transition: 0.3;
  box-shadow: 0 10px 20px rgba(29, 78, 216, 0.3);
}

/* hero section start here */
.hero-container {
  background-image:
    linear-gradient(rgba(39, 36, 36, 0.5), rgba(5, 4, 4, 0.5)),
    url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 3px solid yellowgreen; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-content {
  /* border: 5px solid rebeccapurple; */
  text-align: center;
}
.hero-content p {
  margin-top: 24px;
  font-size: 18px;
  color: white;
}
.text-1 {
  color: white;
  font-size: 80px;
}
.hero-btn {
  text-align: center;
}

/* hero section ends here */

/* speakers section start here */
.speakers-container {
  margin: 5.5rem 0;
}
.common-text {
  /* border: 2px solid rebeccapurple; */
  color: #0d1b2a;
  text-align: center;
  margin: 20px 0;
  font-size: 3.5rem;
}
.speakers-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.speakers-cards img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.speaker-card {
  border: 1px solid rgb(235, 230, 230);
  border-radius: 10px;
}
.card-content {
  padding: 12px 20px;
}
.card-content span {
  color: #2563eb;
  font-weight: 600;
  line-height: 2.5rem;
}
.card-content h4 {
  color: #0d1b2a;
  font-size: 26px;
}
.card-content p {
  color: #575757;
  font-size: 18px;
  line-height: 2.5rem;
}
/* speakers section ends here */

/* spot section start here */
.spots-containers > P {
  color: #575757;
  font-size: 18px;
  /* line-height: 2.5rem; */
  text-align: center;
}
.spot-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 26px;
}
.spot-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #e5e7eb;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
}
.card-2 {
  border: 1px solid #e5e7eb;
  background-color: #0d1b2a;
}
hr {
  margin: 1.5rem 0;
}
.spot-card p {
  color: #888888;
  font-size: 14px;
  font-weight: 600;
}
.spot-card h4 {
  color: #0d1b2a;
  font-size: 44px;
  font-weight: bold;
}
.spot-card span {
  color: #888888;
  font-size: 14px;
}
.spot-card ul {
  margin-bottom: 1.5rem;
}
.spot-card ul li {
  list-style-position: inside;
  color: #333333;
  font-size: 16px;
  line-height: 30px;
}
#pro-card li {
  color: white;
}
.spot-card ul li::marker {
  color: #2563eb;
  /* font-size: 20px; */
}
.spot-btn {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #2563eb;
  color: #2563eb;
  font-weight: 600;
  font-size: 16px;
  margin-top: auto;
  cursor: pointer;
}
#spot-btn-2 {
  background-color: #2563eb;
  color: white;
}
#spot-btn-2:hover {
  background-color: white;
  color: #2563eb;
}
#spot-btn-3 {
  border: 1px solid rgb(114, 109, 109);
  color: rgb(56, 53, 53);
}
#spot-btn-3:hover {
  color: whitesmoke;
}
.spot-btn:hover {
  background-color: #2563eb;
  transition: 0.3s;
  color: white;
}

/* spot section ends here */

/* footer container start here */
.footer-container {
  /* border: 2px solid red; */
  background-color: #0d1b2a;
  padding: 80px 0;
}
.footer-container hr {
  width: 1200px;
  margin: 50px auto;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content a {
  text-decoration: none;
}
.footer-logo {
  display: flex;
}
.footer-logo h3 {
  margin-left: 12px;
  color: whitesmoke;
  font-size: 26px;
}
.footer-icon {
  display: flex;
}
.footer-icon i {
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.footer-icon span {
  font-size: 18px;
  color: whitesmoke;
}
.footer-icon div {
  margin-left: 40px;
}

/* footer container ends here */
